@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bad+Script&family=Lekton&family=Poppins:wght@100;200&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

#index {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "inicio" "sobreMi" "portfolio" "testimonios" "contacto" "footer";
}

/* DECLARACION DE AREAS */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

section#inicio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: inicio;
}

main, section#sobreMi {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sobreMi;
}

main, section#portfolio {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: portfolio;
}

section#testimonios {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: testimonios;
}

section#contacto {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: contacto;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

/* GENERALES */
h1 {
  text-align: center;
  padding-top: 1em;
}

.subtitle {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
  padding: 0.5em 3em;
}

.nav-item {
  padding: 0 0.5em;
}

.navbar-light .navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-toggler i {
  color: #fbade6;
}

#inicio {
  background-color: #fffaf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em;
}

#inicio p {
  font-family: 'Bad Script', cursive;
  text-align: center;
}

#sobreMi {
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

#portfolio {
  background-color: #fffaf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

#portfolio p {
  text-align: center;
}

.portfolio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio img {
  border-radius: 5em;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio li {
  list-style-type: none;
}

.portfolio li a {
  font-size: 2em;
}

.portfolio li a div {
  color: black;
  text-align: center;
}

#testimonios {
  background-color: antiquewhite;
  background-image: url(../img/quotes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

#testimonios p {
  text-align: center;
}

#contacto {
  background-image: url(../img/contacto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em;
}

#contacto .emoji {
  text-align: center;
  font-size: 4em;
  margin-top: -1em;
  padding-bottom: 1em;
}

#contacto .btn {
  color: black;
  background-color: #fbade6;
  border: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1em;
}

#contacto .btn:hover {
  background-color: black;
  color: white;
}

#contacto .contacto {
  padding: 1em 0;
}

#contacto .dudas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .dudas div {
  background-color: #c3c3c3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1em;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contacto .dudas div p {
  padding: 0 1em;
}

#contacto .dudas div .btn {
  background-color: antiquewhite;
}

#contacto .dudas div .btn a {
  color: black;
}

#contacto .dudas div .btn:hover {
  background-color: #fbade6;
  color: white;
}

footer {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 5em;
  row-gap: 2em;
}

footer p {
  text-align: center;
}

footer div {
  text-align: center;
}

footer div a {
  color: black;
}

footer div a p {
  color: black;
}

footer div a i {
  color: black;
}

#secciones {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secciones;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#secciones p {
  text-align: center;
  padding-top: 1em;
}

#secciones img {
  max-width: 100%;
  height: auto;
}

#secciones div {
  font-size: 2em;
  padding-top: 2em;
  text-align: center;
}

#secciones div a {
  border-radius: 5em;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 0 0.5em;
}

#secciones div a:hover {
  background-color: black;
  color: white;
}

#grilla {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "secciones" "footer";
}

#dudasFlex {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dudas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fffaf5;
  padding: 5em;
}

#dudasFlex p {
  text-align: center;
  margin: 0;
}

#dudasFlex .op .op1 {
  background-color: #c3c3c3;
  max-width: 20em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  row-gap: 1em;
}

#dudasFlex .op .op2 {
  background-color: antiquewhite;
  max-width: 20em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  row-gap: 1em;
}

#dudasFlex .op .op3 {
  background-color: #c3c3c3;
  max-width: 20em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  row-gap: 1em;
}

#dudasFlex .op h3 {
  font-weight: bold;
}

#dudasFlex .op .precio {
  font-weight: bold;
}

#dudasFlex .opP {
  font-style: italic;
  padding-top: 2em;
}

#dudasFlex .pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2em;
}

#dudasFlex .pago .descuento {
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  padding: 2em;
  border-radius: 1em;
}

#dudasFlex .pago .descuento p {
  font-weight: bolder;
}

#dudasFlex .atras {
  font-size: 2em;
  font-weight: bold;
  padding-top: 3em;
  text-align: center;
}

#dudasFlex .atras a {
  border-radius: 5em;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 0 0.5em;
}

#dudasFlex .atras a:hover {
  background-color: black;
  color: white;
}

#dudas {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "dudas" "footer";
}

@media (max-width: 767px) {
  /* GENERALES */
  h1 {
    font-size: 4em;
  }
  .subtitle {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
  /* HEADER */
  .dropdown-menu {
    font-size: 1em;
  }
  /* SECCION INCIO */
  #inicio p {
    font-size: 2em;
    padding-top: 2em;
  }
  /* SECCION SOBRE MI */
  .sobreMi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2em;
  }
  .sobreMi p {
    font-size: 2em;
    text-align: center;
  }
  .sobreMi figure {
    text-align: center;
  }
  /* SECCION PORTFOLIO */
  #portfolio p {
    font-size: 2em;
    padding-top: 2em;
  }
  #portfolio .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5em;
  }
  #portfolio .portfolio img {
    width: 10em;
    height: 10em;
  }
  /* SECCION TESTIMONIOS */
  .testimonios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    row-gap: 3em;
  }
  .testimonios p {
    font-size: 2em;
  }
  /* SECCION CONTACTO */
  #contacto .dudas p {
    font-size: 2em;
  }
  #contacto .dudas a {
    font-size: 1.5em;
  }
  #contacto .contacto {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* SECCION FOOTER */
  footer .footer {
    font-size: 1.5em;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2em;
  }
  footer div a {
    font-size: 1em;
  }
  /* OTRAS SECCIONES */
  #secciones {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #secciones .fotos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2em;
  }
  #secciones p {
    font-size: 2em;
  }
  /* DUDAS */
  #dudasFlex p {
    font-size: 2em;
  }
  #dudasFlex .op {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2em;
  }
  #dudasFlex .op h3 {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1199px), (orientation: landscape) {
  /* GENERALES */
  h1 {
    font-size: 4em;
  }
  .subtitle {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
  /* HEADER */
  .navbar {
    font-size: 2em;
  }
  .dropdown-menu {
    font-size: 1em;
  }
  .logo {
    max-width: 50%;
  }
  /* SECCION INCIO */
  #inicio p {
    font-size: 2em;
    padding-top: 2em;
  }
  /* SECCION SOBRE MI */
  .sobreMi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreMi p {
    font-size: 2em;
    text-align: center;
  }
  /* SECCION PORTFOLIO */
  #portfolio p {
    font-size: 2.5em;
    padding-top: 2.5em;
  }
  #portfolio .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    justify-items: center;
    row-gap: 3em;
  }
  #portfolio .portfolio img {
    width: 8em;
    height: 8em;
  }
  #portfolio .portfolio div {
    text-align: center;
  }
  /* SECCION TESTIMONIOS */
  .testimonios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    row-gap: 3em;
  }
  .testimonios p {
    font-size: 2em;
  }
  /* SECCION CONTACTO */
  #contacto .dudas p {
    font-size: 2em;
  }
  #contacto .dudas a {
    font-size: 2em;
  }
  #contacto .contacto {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* SECCION FOOTER */
  footer .footer {
    font-size: 2em;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer div a {
    font-size: 1.5em;
  }
  /* OTRAS SECCIONES */
  #secciones .fotos {
    width: auto;
    padding-top: 8em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: center;
  }
  #secciones .fotos img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #secciones p {
    font-size: 2em;
  }
  /* DUDAS */
  #dudasFlex p {
    font-size: 2em;
  }
  #dudasFlex .op {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #dudasFlex .op h3 {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  /* GENERAL */
  h1 {
    font-size: 5em;
  }
  .subtitle {
    font-size: 3em;
  }
  h2 {
    font-size: 4em;
  }
  .contacto {
    font-size: 4em;
  }
  /* HEADER */
  .navbar {
    font-size: 2em;
  }
  .dropdown-menu {
    font-size: 1em;
  }
  .logo {
    max-width: 50%;
  }
  /* SECCION INICIO */
  #inicio p {
    font-size: 3em;
    padding: 1em 0;
  }
  /* SECCION SOBRE MI */
  .sobreMi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreMi p {
    font-size: 3em;
    text-align: right;
  }
  /* SECCION PORTFOLIO */
  #portfolio p {
    font-size: 3em;
    padding: 2em 5em 0em 5em;
  }
  #portfolio .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #portfolio .portfolio img {
    width: 8em;
    height: 8em;
  }
  #portfolio .portfolio li {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #portfolio .portfolio li:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  /* SECCION TESTIMONIOS */
  .testimonios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% auto 35%;
        grid-template-columns: 35% auto 35%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonios p {
    font-size: 3em;
  }
  /* SECCION CONTACTO */
  #contacto .dudas p {
    font-size: 3em;
  }
  #contacto .dudas a {
    font-size: 2em;
  }
  #contacto .contacto {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* SECCION FOOTER */
  footer {
    text-align: center;
  }
  footer .footer {
    font-size: 2.5em;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer div a {
    font-size: 2em;
    cursor: pointer;
  }
  footer div a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  /* OTRAS SECCIONES */
  #secciones .fotos {
    padding-top: 8em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 5em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: center;
  }
  #secciones .fotos img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #secciones p {
    font-size: 3em;
  }
  /* DUDAS */
  #dudasFlex p {
    font-size: 3em;
  }
  #dudasFlex .op h3 {
    font-size: 3em;
  }
  #dudasFlex .op .precio {
    font-size: 4em;
  }
  #dudasFlex .atras {
    font-size: 3em;
  }
}
