#contacto{
    background-image: url(../img/contacto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;   
    padding: 5em;

    .emoji{
        text-align: center;
        font-size: 4em;
        margin-top: -1em;
        padding-bottom: 1em;
    }

    .btn{
        color: black;
        background-color: rgb(251, 173, 230);
        border: none;
        max-width: fit-content;
        font-size: 1em;
    
        &:hover{
            background-color: black;
            color: white;
        }
    }

    .contacto{
        padding: 1em 0;
    }

    .dudas{
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            background-color: rgb(195, 195, 195);
            width: fit-content;
            border-radius: 1em;
            padding: 2em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            p{
                padding: 0 1em;
            }
            .btn{
                background-color: antiquewhite;
                a{
                    color: black;
                }
    
                &:hover{
                    background-color: rgb(251, 173, 230);
                    color:white;
                }
            }
        }
    }
}


