footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    p{
        text-align: center;
    }

    div a{
        text-decoration: none;
        color: black;

        p{
            color: black;
        }
        i{
            color: black;
        }
    }
}