footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    row-gap: 2em;

    p{
        text-align: center;
    }

    div{
        text-align: center;
        a{
            color: black;
    
            p{
                color: black;
            }
            i{
                color: black;
            }
        }
    }
}