#testimonios{
    background-color: antiquewhite;
    background-image: url(../img/quotes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;

        p{
            text-align: center;
        }
}